/* src/components/Attendance.css */
.attendance-container {
  padding: 10px;
  text-align: center;
  min-height: 95vh;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.logo {
  width: 150px;
}

.admin-login {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.admin-login:hover {
  background-color: #0056b3;
}

h1 {
  margin-bottom: 20px;
  color: white;
}

.camera-feed {
  width: 700px;
  height: 600px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}

.status {
  margin-top: 20px;
  color: green;
}
